*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    html, body {
    height: 100%;
    width: 100%;
    user-select: none;
    }
    
    .main{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .calculator{
        width: 360px;
        height: 500px;
        background-color: rgb(121, 121, 190);
        border-radius: 20px;
        box-shadow: inset 5px 5px 12px #ffffff , 5px 5px 12px rgba(0, 0, 0, .16);
        
    
    }
    input{
        width: 320px;
        height: 70px;
        background-color: rgb(235, 225, 225);
        border: none;
        box-shadow: inset -5px -5px 12px #ffffff , inset 5px 5px 12px rgba(0, 0, 0, .16);
        margin: 20px;
        color: rgb(206, 204, 204);
        font-size: 40px;
        text-align: right;
        padding-right: 20px;
        border-radius: 30px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    button{
        width:55px;
        height: 55px;
        border-radius: 50%;
        background-color: plum;
        border: none;
       margin: 6px;
       margin-left: 21px;
       box-shadow: -5px -5px 15px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
       font-size:16px;
       font-weight: 600;
       color: rgb(228, 222, 222)
    
    
    }
    #equal{
        width: 150px;
        border-radius: 40px;
        background-color: #ecf0f3;
       box-shadow: -5px -5px 15px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
      color: gray;
    
    }
    
    
    @media (max-width:430px) {
        .calculator{
            width: 310px;
            height: 420px;
        }
    
        input{
            width: 250px;
        }
        button{
            width: 42px;
            height: 42px;
            margin: 5px;
            margin-right:26px;
            font-size: 15px;
           
        }
        #equal{
            width: 120px;
        }
    }